<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA0BHwlx4nOeO1TkuQySJ7Lb9ypGQ3kJ2I</string>
	<key>GCM_SENDER_ID</key>
	<string>93954675246</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pasahero</string>
	<key>PROJECT_ID</key>
	<string>pasahero-5c989</string>
	<key>STORAGE_BUCKET</key>
	<string>pasahero-5c989.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:93954675246:ios:cf2007a3693f77912cc5bf</string>
</dict>
</plist>